<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{../static/style.css}" />

        <title>Login Form</title>
    </head>
    <body>
        <div class="main-section login"> 
            <div class="login__form">
                <div class="login__form__text">
                    <h1 class="heading">Login</h1>
                </div>
                <div class="login__form__username">
                    <input type="text" name="username" placeholder="Username" class="input__form">
                </div>
                <div class="login__form__password">
                    <input type="password" name="password" placeholder="Password" class="input__form">
                </div>
                <div class="login__form__button">
                    <input type="submit" name="login__btn" placeholder="Login" class="btn btn--big btn--blue">
                </div>
                <div class="login__form__sign__up">
                    <p>You doesn't have account ? Please sign up <a href="signUp.html">here</a></p>
                </div>
            </div>
        </div>
    </body>
</html>